:root {
    --dark:#19191B;
    --gray:#696871;
    --purple:#5454D4;
    --orange:#FF7143;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "DM Sans",sans-serif;
}
ul {
    list-style: none;
}

a {
    text-decoration: none;
}
.header {
    position: fixed;
    width: 100%;
    background: white;
    z-index: 999;
    top: 0;
    padding-block: 30px;
}
[class*="container"]{
    max-width: 1060px;
    margin-inline: auto;
}
.header_nav {
    display: flex;
    justify-content: space-between;
}
.header_list {
    display: flex;
    align-items: center;
    gap: 49px;
}
.header_list-link {
font-weight: 700;
font-size: 15px;
letter-spacing: -0.47px;
color: var(--gray);
transition: color 0.3s;
}
.header_list-link.active {
    color: var(--dark);
    border-bottom: 2px solid var(--purple);
    padding-bottom: 10px;
}
.header_list-link:hover {
    color: var(--dark);
}
.header_button , .hero_button {
    font-weight: 700;
    font-size: 17px;
    letter-spacing: -0.53px;
    color: white;
    padding: 19px 59px;
    border-radius: 10px;
    transition: 0.3s;
}
.header_button {
 background-color: var(--orange);
}
.header_button:hover .hero_button:hover {
    opacity: 90%;
}
/* hero */
.main {
    margin-top: 141px;
}
.hero {
    padding-block: 70px;
}
.hero_container {
position: relative;
}
.hero_content {
    max-width: 423px;
    padding-block: 92px;
}
.hero_title {
    font-weight: 700;
    font-size: 80px;
    letter-spacing: -2.5px;
    line-height: 77px;
    color: var(--dark);
}
.hero_desc {
    font-family: "Mulish",sans-serif;
    font-size: 20px;
    letter-spacing: -0.63px;
    line-height: 30px;
    color: var(--gray);
    margin-top: 30px;
}
.hero_image {
    position: absolute;
    top: 0;
    right: -75px;
}

.hero_buttons {
    margin-top: 50px;
    display: flex;
    gap: 40x;
}
.hero_button {
    background-color: var(--purple);
}
.hero_scroll {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #E7E7E7;
    border-radius: 100px;
}
/* section 2 */
.companies {
    padding-block: 30px;

}
.companies_list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* section 3 */
.features {
    padding-block: 120px;
}
.features_container {
    display: flex;
    flex-direction: column;
    gap: 69px;
}
.feature {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.feature_content {
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 459px;
}
.feature_title {
    font-weight: 700;
    font-size: 50px;
    letter-spacing: -1.56px;
    line-height: 57px;
}
.feature_desc {
font-family: "Mulish",sans-serif;
font-size: 20px;
letter-spacing: -0.63px;
line-height: 30px;
}
.feature_link {
    font-weight: 700;
    font-size: 17px;
    letter-spacing: -0.63px;
    color: var(--purple);
}
.feature_link:hover {
    text-decoration: underline;
}