:root {
    --dark:#19191B;
    --gray:#696871;
    --purple:#5454D4;
    --orange:#FF7143;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "DM Sans",sans-serif;
}
ul {
    list-style: none;
}

a {
    text-decoration: none;
}
.header {
    padding-block: 30px;
}
.header_container {
    max-width: 1060px;
    margin-inline: auto;
}
.header_nav {
    display: flex;
    justify-content: space-between;
}
.header_list {
    display: flex;
    align-items: center;
    gap: 49px;
}
.header_list-link {
font-weight: 700;
font-size: 15px;
letter-spacing: -0.47px;
color: var(--gray);
transition: color 0.3s;
}
.header_list-link.active {
    color: var(--dark);
    border-bottom: 2px solid var(--purple);
    padding-bottom: 10px;
}
.header_list-link:hover {
    color: var(--dark);
}
.header_button {
    font-weight: 700;
    font-size: 17px;
    letter-spacing: -0.53px;
    color: white;
    padding: 19px 59px;
    background-color: var(--orange);
    border-radius: 10px;
    transition: 0.3s;
}
.header_button:hover {
    opacity: 90%;
}
